<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <!-- 声明要查询的三个目标 app 包名(Android 11+ 必须) -->
        <package android:name="com.predidit.kazumi" />
        <package android:name="com.github.wgh136.venera" />
        <package android:name="com.huangusaki.easycopy" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaSwitcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MediaSwitcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
